/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#bar {
  display: flex;
/*   position: fixed;
  top: 30px;
  height: 220px;
  background: rgba(255, 255, 255, 0.); */
}

#frame {
/*   margin-top: 250px; */
}

#out {
  zoom: 80%;
}

#img-status {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
}

#status {
  position: absolute;
  top: 175px;
  right: 0px;
  width: 150px;
  text-align: right;
  color: white;
  padding-right: 10px;
}


.Block {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 242px;
  margin-right: 10px;
}

.Block-explore {
  display: flex;
  width: 200px;
  overflow: hidden;
}

.Block-explore > canvas {
  display: inline-block;
}

.Block-mutant {
  display: inline-block;
  height: 200px;
}

.Block-label {
  width: 200px;
  margin-bottom: 2px;
  overflow: hidden;
  font-size: 12px;
  cursor: pointer;
}

.Block-line {
  height: 2px;
  background: #333;
}