/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#bar {
  display: flex;
/*   position: fixed;
  top: 30px;
  height: 220px;
  background: rgba(255, 255, 255, 0.); */
}

#frame {
/*   margin-top: 250px; */
}

#out {
  zoom: 50%;
}

.try .label {
  cursor: pointer;
}